#faraway {
	font-size: 30px;
}

.TextWrapRight {
	float: right;
	margin: 10px;
}

.TextWrapLeft{
	float: left;
	margin: 10px;
}

p {
	margin-left: 10px;
	font-size: 20px;
	font-family: 'Dosis', sans-serif;
}

li{
	font-family: 'Roboto', sans-serif;
	color: purple !important;
	margin: 10px;

}

body{
	color: grey !important;
	margin-top: 150px;
}

h2{
	margin-left: 10px;
	font-family: 'Roboto', sans-serif;
	color: white !important;
}

.sidenav{
	 list-style-type: none !important;
    float: left;
    padding: 0;
    position: absolute;
    width: 150px;
    background-color: #f1f1f1;
    height: 75%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto;
}



