body {
    margin-top: 150px;
    margin-left: 50px;
}
h2 {font-family: 'Happy Monkey', cursive;
    color: #5C246E;
    text-align: left;
    left: 20px; 
    color: white !important;
    
}
#Friends {
	font-size: 27px;
}
img {
	width: 300px;
  height: 450px;
	border: 1px solid black;

}
p {
   width: 100%; 
   color: white !important;
}

.imagerep{
	position: relative;
	display: inline;
	padding: 10px;
}

.row{
    padding-top: 20px;
}

