h2 {font-family: 'Happy Monkey', cursive;
    color: #5C246E;
    text-align: left;
    bottom: 10px; 
    left: 20px; 
    color: white !important;
    position: absolute;
}

#Friends {
	font-size: 30px;
}
img {
	width: 300px;
	border: 1px solid black;

}
.imagetext {
	position: absolute;
	top: 10px;
   left: 0; 
   width: 100%; 
   display: none;
}

.imagerep{
	position: relative;
	display: inline;
	height: 220px;
	padding: 10px;

}

.row{
	padding-bottom: 20px;
}

