img {
	text-align: right;
	margin-left: 10px;
}
.TextWrapRight {
	float: right;
	margin: 10px;
}
.TextWrapLeft{
	float: left;
	margin: 10px;
}
.topnav{
	margin: 27px;
}

p {
	margin-left: 10px;
	font-size: 20px;
	font-family: 'Dosis', sans-serif;
}
body{
	margin-top: 150px;
}