body {
	background-image: url(https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/14445980_10207542679953602_5365137306441949207_n.jpg?oh=56d9a5d797c595e133e59093b56e9699&oe=58ADDA43) 
}
h1 {
 text-align:center; 
 color: purple; 
 font-size: 60px; 
}
img{
	text-align:center;
	width: 32%;
	float:left;
	border-radius: 10px
} 
h3 {
	text-align:center;
	color: orange;
	font-size: 45px;
	margin-left: 0px;
	margin-right: 0px;
} 
.captions{
	color:orange;
	font-size: 30px;
}
#boats{
	text-align: left;
	width: 33%
}
#travel{
	margin-left: 0px;
	margin-right: 0px;
	width: 33%
}
#drink{
	text-align: right;
	width: 33%
}

p {text-align:center;
	color: orange;
	font-size: 25px;
} 
a {
	text-align:center;
	color: orange; 
	font-size: 100px	
} 
a:hover {
	color: purple;
}

