html, body {
  overflow-x: hidden;
}

body {
	background-color: #d3d3d3 !important;
}

h1 {font-family: 'Happy Monkey', cursive !important;
	color: #5C246E;
	text-align: center;
}
ul.topnav li { 
	display: inline;
	margin: 100px;
	font-family: 'Happy Monkey', cursive;
	font-size: 20px;
	font-color: #5C246E;
}

.siteheading {
	position: fixed;
	top: 0px;
	background-color: #d3d3d3;
	z-index: 1000;
	position: relative; /* child absolute */
  margin: 0 -9999rem;
  /* add back section padding value */
  padding: .25rem 9999rem;
}
a.sitelink:link
{
   color: #5C246E;
   text-decoration: none;
}
a.sitelink:visited
{
   color: #5C246E;
   text-decoration: none;
}
a.sitelink:hover
{
   color: #5C246E;
   text-decoration: none;
}
a.sitelink:active
{
   color: #5C246E;
   text-decoration: none;
}

.content {
	margin-top:130px;
}

img {
	text-align: right;
}
